<h3>{{title}}</h3>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th><a href="#" ng-click="setOrder('steps')">Steps</a></th>
    <th><a href="#" ng-click="setOrder('veryActiveMinutes')">Very Active Minutes</a></th>
    <th><a href="#" ng-click="setOrder('distances[0].distance')">Distance</a></th>
    <th><a href="#" ng-click="setOrder('caloriesOut')">Calories Out</a></th>
  </tr>
  <tr ng-repeat="user in dailyData | keyFilter | orderBy:orderByTerm | limitTo: 10">
    <th>{{userscache[user.$name].displayName}}</th>
    <td>{{user.summary.steps}} / {{user.goals.steps}}</td>
    <td>{{user.summary.veryActiveMinutes}} / {{user.goals.activeMinutes}}</td>
    <td>{{user.summary.distances[0].distance}} / {{user.goals.distance}}</td>
    <td>{{user.summary.caloriesOut}} / {{user.goals.caloriesOut}}</td>
  </tr>
</table>
