<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/layout.css" />
    <%- stylesheets %>
  </head>
  <body ng-app="fitbit">
  <%- body %>
  <script src="https://cdn.goinstant.net/v1/platform.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/lodash/dist/lodash.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/goangular/dist/goangular.min.js"></script>
  <%- scripts %>
  </body>
</html>
